// Desktop

body {
  background: #d8dee6;
}

img {
  height: 200px;
  width: 320px;
  margin-right: 20px;
}

button {
  margin: 50px 0 0 0;
}

i {
  margin: 10px 0;
}

em {
  font-size: 1.2rem;
}

#Main {
  width: 75%;
  margin: auto;
}

.empty-msg {
  background: white;
  margin: 20px 0;
  border-radius: 5px;
}

.btn {
  border-radius: 1rem;
  font-weight: 300;
  font-size: 0.8rem;
}

.main-title {
  font-size: 1.5rem;
  margin: 10px 0;
}

.product-container {
  margin: 20px 0;
  background: white;
  border-radius: 5px;
}

.product-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0 5px 0;

  .product-title {
    font-size: 2rem;
    font-weight: 300;
  }

  .product-price {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838991;
    padding: 15px 0 0 0;
  }
}

.product-inventory {
  font-size: 0.8rem;
  font-weight: 300;
  color: #838991;
  padding: 0 0 0 3px;
}

.sold-out {
  margin: 50px 0 0 0;
}

.attr-box {
  height: 125px;
}

.qty-box {
  margin: 0 25px;
}

.minus-btn {
  width: 50px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  &:hover {
    background: #4e7fc6;
    color: white;
  }
}

.plus-btn {
  width: 50px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

  &:hover {
    background: #4e7fc6;
    color: white;
  }
}

.price-container > hr {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.price-box {
  width: 100%;
}

.price-box > span {
  text-align: right;
  padding: 0 0 0 0;
}

// Tablet

@media screen and (max-width: 768px) {
  .product-title {
    font-size: 1.7rem !important;
  }

  .product-price {
    font-size: 0.8rem !important;
    font-weight: 300;
    color: #838991;
    padding: 15px 0 0 0;
  }
}

// Mobile

@media screen and (max-width: 650px) {
  .col-4 {
    height: 150px !important;
    width: 400px !important;
  }

  .product-container {
    display: flex;
    flex-direction: column;
  }

  .product-title-container {
    display: flex;
    justify-content: space-between;
    width: 185%;
    margin: auto;
  }

  .product-title {
    font-size: 1.3rem !important;
  }

  .product-price {
    font-size: 0.8rem !important;
    font-weight: 300;
    color: #838991;
    padding: 8px 0 0 0 !important;
  }

  .price-box > span {
    font-size: 0.8rem;
  }

  .btn-block {
    font-size: 1rem !important;
  }

  .empty-msg {
    font-size: 0.8rem;
  }

  .attr-box {
    width: 190%;
    height: 50px;
  }

  .qty-box {
    margin: 0 10px !important;
  }

  .minus-btn {
    width: 35px;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;

    &:hover {
      background: #4e7fc6;
      color: white;
    }
  }

  .plus-btn {
    width: 35px;
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;

    &:hover {
      background: #4e7fc6;
      color: white;
    }
  }

  .btn-danger {
    margin: 0 0 0 0;
  }
}
