// Desktop

body {
  background: #d8dee6;
}

img {
  height: 200px;
  width: 320px;
  margin-right: 20px;
}

button {
  margin: 50px 0 0 0;
}

i {
  margin: 10px 0;
}

em {
  font-size: 1.2rem;
}

#Main {
  width: 75%;
  margin: auto;
}

.empty-msg {
  background: white;
  margin: 20px 0;
  border-radius: 5px;
}

.btn {
  border-radius: 1rem;
  font-weight: 300;
  font-size: 0.8rem;
}

.main-title {
  font-size: 1.5rem;
  margin: 10px 0;
}

.product-container {
  margin: 20px 0;
  background: white;
  border-radius: 5px;
}

.product-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0 5px 0;

  .product-title {
    font-size: 2rem;
    font-weight: 300;
  }

  .product-price {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838991;
    padding: 15px 0 0 0;
  }
}

.product-inventory {
  font-size: 0.8rem;
  font-weight: 300;
  color: #838991;
  padding: 0 0 0 3px;
}

.sold-out {
  margin: 50px 0 0 0;
}

.attr-box {
  height: 125px;
}

.qty-box {
  margin: 0 25px;
}

.minus-btn {
  width: 50px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.plus-btn {
  width: 50px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
// Tablet

@media screen and (max-width: 768px) {
  .product-title {
    font-size: 1.7rem !important;
  }

  .product-price {
    font-size: 0.8rem !important;
    font-weight: 300;
    color: #838991;
    padding: 15px 0 0 0;
  }
}
